@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0px;
  background: #e4edf9;
}
/********bootstrap*********/
.home-page{
  display: none;
}
.home .home-page{
  display: block;
}
.home .inner-page{
  display: none;
}
.search-field {
  display: flex;
  border: 1px solid #EBEBEB;
  background: #FFF;
  gap: 10px;
}
.search-field-button {
  background: #F7AA20;
}
.search-field-button a {
  color: #FFF;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 50px;
}
.search-tag-heading:before {
  content: "";
  border-top: solid 12px transparent;
  border-bottom: solid 12px transparent;
  border-left: solid 12px #0561AB;
  position: absolute;
  left: 100%;
}
.search-tag-heading {
  background: #0561AB;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0px 10px;
  position: relative;
}
.search-tag-heading h2 {
  color: #FFF;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  line-height: 25px;
}
.search-tag a {
  color: #404040;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.heading h2 {
  font-family: "Signika", sans-serif;
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.adv_item {
  background: #fff;
  box-shadow: 3px 4px 10px rgba(0,0,0,6%);
}
.adv_img {
  position: relative;
}
.adv_img > img {
  width: 100%;
  aspect-ratio: 3/2;
}
.adv_img .adv_review {
  position: absolute;
  top: 15px;
  right: 16px;
  background: #fff;
  padding: 4px 10px;
  border-radius: 100px;
  display: flex;
  gap: 3px;
}
.adv_img .adv_review span {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.adv_item .adv_box {
  padding: 20px;
  position: relative;
}
.adv_box .adv_date {
  background: #0561AB;
  display: inline-block;
  padding: 5px;
  color: #FFF;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  position: absolute;
  right: 20px;
  top: -26px;
}
.adv_box .adv_date span {
  display: block;
  font-size: 10px;
  font-style: normal;
  line-height: 8px;
}
.adv_box .adv_icon {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.adv_box .adv_icon span {
  display: block;
}
.adv_box .adv_container h3 {
  margin-bottom: 5px;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.adv_box .adv_container .adv_location {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.adv_box .adv_container .adv_location span {
  color: #5E5D5D;
  font-family: "Red Hat Display", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.adv_box .adv_container p {
  color: #848484;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 15px;
}
.adv_box .adv_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adv_box .adv_footer .adv_price {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.adv_box .adv_footer .adv_price span {
  color: #6D767A;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.adv_box .adv_footer a {
  background: #48B5E4;
  padding: 1px 12px;
  line-height: 25px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
}

.Act_item .reviews {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #424242;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 12px;
}
.Act_item .reviews span {
  background: #F7AA20;
  width: 25px;
  height: 25px;
  display: block;
  color: #FFF;
  font-family: "Red Hat Display", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  text-align: center;
}
.Act_item .advTag {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.Act_item .advTag a {
  border-radius: 50px;
  background: #60B8FF;
  color: #FFF;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 4px 10px;
  min-width: auto;
}
.adv_box .adv_footer a {
  background: #48B5E4;
  padding: 1px 12px;
  line-height: 25px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
}
.Act_item .adv_sucess {
  color: #707070;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: url("/public/assets/level.svg") no-repeat left;
  padding-left: 32px;
}
.upcomingEventDetails span {
  color: #121212;
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
}
.upcomingEventDetails h2 {
  color: #000;
  font-family: "Signika", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}
.upcomingEventDetails p {
  color: #404040;
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.upcomingEventDetails .adv_timer {
  display: flex;
  gap: 20px;
}
.upcomingEventDetails .adv_timer div {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 20px 20px;
  color: #4B4B4B;
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 90px;
}
.upcomingEventDetails .adv_timer div span {
  margin-bottom: 5px;
  font-family: "Signika", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.upcomingEventDetails .adv_timer .adv_day span {
  color: #F7AA20 !important;
}
.upcomingEventDetails .adv_timer .adv_month span {
  color: #48B5E4;
}
.upcomingEventDetails .adv_timer .adv_years span {
  color: #1C954B;
}
.upcomingEventImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.adv_profile .adv_img {
  height: 70px;
}
.adv_profile_box {
  padding: 0px 15px;
  position: relative;
  top: -10px;
}
.user_profile {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e9e9e9;
  padding-bottom: 10px;
}
.user_profile .user_profile_img {
  width: 70px;
  overflow: hidden;
  height: 70px;
  border-radius: 70px;
  border: 2px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
}
.user_profile .user_profile_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.user_profile_name_info {
  padding-top: 15px;
}
.user_name span {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.user_status span {
  color: #868484;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.user_reviews {
  display: flex;
  align-items: baseline;
  gap: 2px;
  color: #616161;
  font-family: "Red Hat Display", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user_reviews span {
  display: block;
  width: 14px;
}
.user_profile_location {
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-bottom: solid 1px #e9e9e9;
}
.user_pro_box {
  display: flex;
  justify-content: space-between;
  font-family: "Red Hat Display", sans-serif;
}
.user_pro_box .user_form_icon {
  background: url(/public/assets/user_map-pin.svg) left no-repeat;
  padding-left: 15px;
}
.user_pro_box .user_guide_icon {
  background: url(/public/assets/user.svg) left no-repeat;
  padding-left: 15px;
}
.user_pro_box .user_trip_icon {
  background: url(compass.svg) left no-repeat;
  padding-left: 15px;
}
.user_profile_exp {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #e9e9e9;
}
.user_exp_box {
  display: flex;
  justify-content: space-between;
  font-family: "Red Hat Display", sans-serif;
}
span.exp-bar {
  display: flex;
  gap: 10px;
}
.user_footer .user_avb {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.user_footer button {
  color: #FFF;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: #48B5E4;
  padding: 6px 12px;
}
.user_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adv_profile .adv_img img {
  height: 100% !important;
  object-fit: cover;
  width: 100%;
}
.testimonial_inn {
  background: #fff;
  padding: 15px;
  position: relative;
  margin-bottom: 35px;
  box-shadow: 3px 4px 10px rgba(0,0,0,6%);
}
.testimonial_inn :before {
  content: "";
  border-left: solid 0px transparent;
  border-right: solid 30px transparent;
  border-top: solid 25px #fff;
  border-bottom: solid 0px transparent;
  position: absolute;
  top: 100%;
  left: 60px;
  
}
.testimonial_inn .testimonial-img img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-bottom: 10px;
  display: block;
}
.testimonial_inn :before {
  content: "";
  border-left: solid 0px transparent;
  border-right: solid 30px transparent;
  border-top: solid 25px #fff;
  border-bottom: solid 0px transparent;
  position: absolute;
  top: 100%;
  left: 60px;
}
.testimonial_inn .testimonial-details h2 {
  color: #000 !important;
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.testimonial_inn .tagAndDate {
  color: #AFADAD;
  font-family: "Red Hat Display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.testimonial_inn .testimonial-details p {
  color: #7A7A7A;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin: 0px;
}
.testimonial_inn :before {
  content: "";
  border-left: solid 0px transparent;
  border-right: solid 30px transparent;
  border-top: solid 25px #fff;
  border-bottom: solid 0px transparent;
  position: absolute;
  top: 100%;
  left: 60px;
}
.testimonial .testimonial_user_details {
  display: flex;
  gap: 20px;
  align-items: center;
}
.testimonial_user_img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}
.testimonial_user_img img {
  width: 100%;
}
.testimonial .testimonial_user_details p {
  color: #333;
  font-family: "Signika", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.testimonial .testimonial_user_details span {
  color: #333;
  font-family: "Signika", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.readMore {
  display: flex;
  justify-content: end;
}
.readMore a {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  background: url(/public/assets/arrow-right.svg) no-repeat right;
  padding-right: 30px;
}
.tour_box {
  box-shadow: 3px 4px 10px rgba(0,0,0,6%);
}
.sliderImg img {
  width: 100%;
  min-height: 800px !important;
  height: 100% !important;
  object-fit: cover;

}
.upcomingEventImage {
  height: 100%;
}
.main-container{
  padding-bottom: 200px;
}
.footer{
  background: #0D1419;
  padding: 60px 0px 40px;
  position: relative;
  margin-top: 250px;
}
.footer:before {
  content: "";
  background: url(/public/assets/newfooter.png) no-repeat;
  background-size: cover;
  width: 100%;
  display: block;
  height: 380px;
  position: absolute;
  bottom:100%;
  z-index: 1;
}
.footer .footer_logo{
  margin-bottom: 12px;
}
.footer .footer_section p{
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.footer .footer_section h3{
  color: #FFF;
  font-family: Signika;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 12px;
}
.footer .footer_section a{
  display: block;
  color: #FFF;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  text-decoration: none;
}
.footer .social_icon{
  display: flex;
  gap: 6px;
}
.footer .footer_section a{
  display: block;
  color: #FFF;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  text-decoration: none;
}
.footer .footer_section .contact_info address{
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 20px;
}
.contact_social {
  margin-bottom: 15px;
}
.slick-list {
  margin: 0 -10px !important;
  padding: 0px 0px 30px !important;
}
.slick-slide {
  padding: 0px 10px;
}
.upcomingEventImage .slick-list {
  padding: 0px !important;
}
.upcomingEventImage .slick-slide div div {
  display: block !important;
}
button.slick-prev.slick-arrow {
  position: absolute;
  top: -32px;
  right: 35px !important;
  left: inherit;
}

button.slick-next.slick-arrow {
  position: absolute;
  top: -32px;
  right: 0px;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 28px;
  line-height: 1;
  opacity: .75;
  color: #F7A81A !important;
  -moz-osx-font-smoothing: grayscale;
}
.user_profile_name_info div {
  line-height: 18px;
}
.adv-slide-arrow.slick-arrow {
  position: absolute;
  top: 20%;
  right: -15px;
  z-index: 9999;
}

.adv-slide-arrow.prev-arrow {
  left: -15px !important;
}
.story-slide-arrow.slick-arrow {
  position: absolute;
  z-index: 9999;
  top: -45px;
  right: 0px;
}
.story-slide-arrow.prev-arrow {right: 35px;}
.luggage-box {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  border-bottom: solid 1px #C7D7EA;
}
.luggage-box .luggage {
  display: flex;
  gap: 10px;
  align-items: center;
}
.luggage-box .luggage p{
  margin: 0px;
  color: #5D676A;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.heading_and_price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.heading_and_price h2 {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
}
.heading_and_price .price_details p {
  color: #0561AB;
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0px;
}
.trip_description {
  margin-bottom: 30px;
}
.trip_description p {
  color: #5D6366;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
}
.trip_addition{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  border-bottom: solid 1px #C7D7EA;
  padding-bottom: 15px;
}
.trip_addition .trip_add_inn{
  display: flex;
  gap: 10px;
  width: 20%;
  color: #5D676A;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

.highlights_container{
  background: #fff;
  border: 1px solid #E3E2E2;
  margin-bottom: 30px;
}

.highlights_container h2 {
  background: #0561AB;
  padding: 10px 20px;
  color: #FFF;
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}
.highlights_container .highlights_inner_container {
  padding: 0px 20px 20px 20px;
}
.highlights_container .highlights_inner_container ul {
  margin: 0px 0px 20px;
  padding: 0px;
  list-style: none;
  height: 96px;
  overflow: hidden;
}
.highlights_container .highlights_inner_container ul li {
  color: #6D767A;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  background: url(/public/assets/check.svg) no-repeat left;
  padding-left: 20px;
}
.highlights_container .highlights_inner_container a {
  display: block;
  color: #0561AB;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}
.trip_chart {
  border: 1px solid #E3E2E2;
  background: #FFF;
  margin-bottom: 30px;
}
.tabs-header{
  background: #0561AB;
}
.tabs-header li a {
  color: #9cc1df;
}
.tabActive a {
  color: #fff !important;
}
.trip_button_container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.trip_button_container button:nth-child(1) {
  background: #0561AB;
}
.trip_button_container button:nth-child(2) {
  background: #2AA4DF;
}
.trip_button_container button:nth-child(3) {
  border: solid 2px #2AA4DF;
  color: #2AA4DF;
}
.DayToDay_table h3{
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  margin: 0px 0px 12px;
}
.DayToDay_table p{
  color: #5D6366;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.DayToDay_table tr th {
  background: #F7A81A;
  color: #FFF;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  padding: 0px 20px;
  text-align: left;
}
.DayToDay_table tr {
  border: solid 1px rgba(0, 0, 0, 0.03) !important;
  height: 40px;
}
.DayToDay_table tr td {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-bottom: solid 1px rgba(0, 0, 0, 0.03);
  border-right: solid 1px rgba(0, 0, 0, 0.03);
  padding: 0px 24px;
}
.included_container ul li{
  background: url(/public/assets/check.svg) no-repeat left;
  padding-left: 20px;
  color: #5D6366;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.rating-overview {
  border: solid 1px #E2E2E2;
  text-align: center;
  padding: 28px 10px 50px 10px;
  box-sizing: border-box;
}
.rating-overview h4 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
.rating-overview-text {
  margin-bottom: 28px;
}
.rating-overview-text h5 {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 3px;
  line-height: 44px;
}
.total-rating-points {
  margin-bottom: 6px;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.total-rating-points .active_star {
  background: url(/public/assets/star_active.png) no-repeat;
}
.rating-overview-text .rating-total {
  color: #8A8A8A;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rating-overview-list {
  max-width: 450px;
  margin: 0 auto;
}
.rating-overview-list-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 7px;
  gap: 8px;
}
.rating-overview-list-box-points {
  line-height: 18px;
  width: 20%;
}
.rating-overview-list-box-points b {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.rating-overview-list-box-bar {
  border-radius: 100px;
  background: #D9D9D9;
  height: 10px;
  width: 60%;
  position: relative;
}
.rating-overview-list-box-bar:before {
  border-radius: 100px;
  background: #F7AA20;
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
}
.rating-overview-list-box-total {
  line-height: 14px;
  width: 20%;
  text-align: left;
}
.rating-overview-list-box-total span {
  font-size: 12px !important;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.rating-80 .rating-overview-list-box-bar:before {
  width: 80% !important;
}
.rating-70 .rating-overview-list-box-bar:before {
  width: 70%;
}
.rating-30 .rating-overview-list-box-bar:before {
  width: 30%;
}
.rating-20 .rating-overview-list-box-bar:before {
  width: 20%;
}
.rating-10 .rating-overview-list-box-bar:before {
  width: 10%;
}
.client-box {
  border: solid 1px #E2E2E2;
  padding: 12px 20px 12px 24px;
}
.client-box .client-box-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.client-box .client-box-head .client-box-head-profle {
  display: flex;
  align-items: center;
}
.client-box .client-box-head .client-box-head-profle .client-box-head-img img {
  width: 54px;
  height: 54px;
  object-fit: cover;
}
.client-box .client-box-head .client-box-head-title {
  margin-left: 10px;
  line-height: 14px;
}
.client-box .client-box-head .client-box-head-title h4 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  text-transform: capitalize;
}
.client-box .client-box-head .client-box-head-title .email {
  color: #848383;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  display: block;
}
.client-date .date {
  align-items: center;
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.client-box-content p {
  color: #5D6366;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px !important;
  margin: 0 !important;
}
.client-box-head-rating-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.client-box-head-rating-list span {
  color: #F7AA20;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
}
.client-box-head-rating-list .total-rating-points {
  margin: 0px;
}
.total-rating-points {
  margin-bottom: 6px;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.total-rating-points .active_star {
  background: url(/public/assets/star_active.png) no-repeat;
}
.total-rating-points a {
  background: url(/public/assets/star_unactive.png) no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  display: block;
}
.client-box-head-like-dislike {
  display: flex;
  gap: 10px;
}
.client-box-head-like-dislike a {
  display: flex;
  gap: 5px;
  font-size: 12px !important;
}
.client-box-head-like-dislike a {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: lowercase;
  text-decoration: none;
  margin-left: 15px;
}
.client-box-head-rating{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.included_container img {
  float: left;
  margin-right: 30px;
  width: 360px;
}